#titleContainer {text-align: center}
#title {padding-top: 2%; padding-bottom: 2%; color: #001f7a}

#searchBarContainer {text-align: center}
#songToBeSearchedFor {width: 15%}
#searchButton {width: fit-content}

#pageContainer {display: flex; margin: 10%; width: 80%}

#trackContainer {margin-right: 5%; width: 33%; background-color: #001f7a}
#artistContainer {margin-left: 5%; margin-right: 5%; width: 33%; background-color: #001f7a}
#genreContainer {margin-left: 5%; width: 33%; background-color: #001f7a}

h3 {text-align: center; color: #959cf1}

li {padding-top: 8px; font-size: medium; color: white}