#searchTitleContainer {text-align: center}
#title {padding-top: 2%; padding-bottom: 2%; color: #001f7a}
#titleSearch {color: #001f7a}
#errorText {margin-top: 5%; color: crimson}

#backButton {text-align: center; padding-left: 10%; margin-top: 4%; width: 40%}

#allSongsContainer {display: flex; flex-flow: row wrap; text-align: center; padding-left: 5%}

#trackContainer { margin: 2%; width: 28%; background-color: #001f7a}

h4 {padding-left: 5px; color: #959cf1; text-align: center}
p {padding-left: 5px; color: white; text-align: center}