<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iTunes Clone</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div id = "titleContainer">
        <h1 id = "title" >iTunes (Clone)</h1>
    </div>

    <div id = "searchBarContainer">
            <form action="#" th:action="@{/search}" th:object="${search}" method="get" id="form">
                <input type="text" th:field="*{query}" id="songToBeSearchedFor" placeholder="Search for a song:"/>
                <input type="submit" value="SEARCH" id="searchButton"/>
            </form>
    </div>


    <div id = "pageContainer">
        <div id = "trackContainer">
            <h3>Tracks to check out:</h3>
            <ol>
                <li th:each="track : ${tracks}" th:text="${track.getTrackName()}"> </li>
            </ol>
        </div>
        <div id = "artistContainer">
            <h3>Artists to check out:</h3>
            <ol>
                <li th:each="artist : ${artists}" th:text="${artist.getArtistName()}"> </li>
            </ol>
        </div>
        <div id = "genreContainer">
            <h3>Genres to check out:</h3>
            <ol>
                <li th:each="genre : ${genres}" th:text="${genre.getGenreName()}"> </li>
            </ol>
        </div>
    </div>
</body>
</html>