<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<body>
    <div id = "searchTitleContainer">
        <h1 id = "title" >iTunes (Clone)</h1>

        <h2 id = "titleSearch" th:text="${search}"></h2>

        <div id = "backButtonContainer">
            <form action="#" th:action="@{/}" id = "backButton">
                <input type="submit" value="GO BACK"/>
            </form>

        </div>

        <h2 id = "errorText" th:if="${nothing}">No matching results!</h2>
    </div>



    <div id = "allSongsContainer">
        <div th:if="${tracks}" id= "trackContainer" th:each="track : ${tracks}">
            <div id = "songInfo">
                <h4>Song: </h4>
                <p th:text="${track.getTrackName()}"></p>
            </div>
            <div id = "artistInfo">
                <h4>Artist:</h4>
                <p th:text="${track.getTrackArtist()}"></p>
            </div>
            <div id = "albumInfo">
                <h4>Album:</h4>
                <p th:text="${track.getTrackAlbum()}"></p>
            </div>
            <div id = "genreInfo">
                <h4>Genre:</h4>
                <p th:text="${track.getTrackGenre()}"></p>
            </div>
        </div>
    </div>

</body>
</html>